@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-xl font-semibold leading-tight text-gray-800;
  }
  h2 {
    @apply text-base my-4 font-bold leading-tight text-lime-700;
  }
  table td,
  table th {
    @apply px-2;
  }
  table thead td {
    @apply text-lime-700;
  }
  table tfoot th {
    @apply text-lime-700;
  }
  select {
    @apply rounded border-gray-300 text-gray-600 shadow-sm focus:border-none focus:ring focus:ring-lime-700 focus:ring-opacity-25;
  }
}
