@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-xl font-semibold leading-tight text-gray-800;
  }
  h2 {
    @apply text-base my-4 font-bold leading-tight text-gray-800;
  }
}
